.navbar {
  background-color: white;
  color: rgb(97, 97, 97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@media (max-width: 525px) {
  .navbar{
    justify-content: center;
  }
}

#iconLogo{
  width: 60px;
  height: 60px;
  background-color: white;
  margin-left: 10px;
}

#botonAcerca {
  background-color: #fbc02d;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.875rem;
  line-height:  1.75;
  letter-spacing: 0.02857em;
  margin-right: 10px;
}
  
#botonAcerca:hover {
  background-color: #f9a825;
}
  

.navbar-title {
  height: 60px;
}
.navbar-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.navbar-link {
  text-decoration: none;
  transition: color 0.2s;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: rgb(97, 97, 97);
  font-weight: 900;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.navbar-link:hover {
  color: #fdd835;
}
